body {
    font-family: 'Fira Code', monospace;
    background-color: #dbdbdb;
    margin: 0;
    padding: 50px;
    text-align: center;
}
.game-container {
    background: white;
    padding: 30px;
    margin: auto;
    border-radius: 10px;
    max-width: 400px;
    display: inline-block;
    border: 4px solid;
    border-image: linear-gradient(45deg, #ff6b6b, #4ecdc4, #45b7d1, #96ceb4, #ffeaa7, #fd79a8) 1;
}

#resetGame {
    background-color: #d65b5b;
    color: white;
    border: none;
    padding: 10px 10px;
    text-align: center;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 4px;
}

#resetGame:hover {
    background-color: #af4c4c;
}

#submitGuess {
    background-color: #4caf91;
    color: white;
    border: none;
    padding: 10px 10px;
    text-align: center;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 4px;
}

#submitGuess:hover {
    background-color: #449d82;
}

#guessInput {
    width: 150px;
    padding: 5px;
    font-size: 15px;
    border: 2px solid #ddd;
    border-radius: 4px;
    margin: 5px;
    text-align: center;
}

#guessInput:focus {
    outline: none;
    border-color: #4ecdc4;
    box-shadow: 0 0 5px rgba(78, 205, 196, 0.3);
}

#message {
    font-weight: bold;
    margin-top: 20px;
}

.message-low {
    color: blue;
}

.message-high {
    color: red;
} 
.message-correct {
    color: green;
}